:root {
  /* 背景 */
  --background: white;
  --gradualBackground: linear-gradient(to right bottom, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --favoriteBg: #f7f9fe;

  /* 字体 */
  --fontColor: black;
  /* 边框 */
  --borderColor: rgba(0, 0, 0, 0.5);
  /* 边框 */
  --borderHoverColor: rgba(0, 0, 0, 0.5);
  /* 文章字体 */
  --articleFontColor: #1f1f1f;
  /* 文章灰色字体 */
  --articleGreyFontColor: #616161;
  /* 评论背景颜色 */
  --commentContent: #F7F9FE;

  --borderStyle: #a9a9a9;

  --navCardBG: #e2f2f2;

  --navCardBorder: #d3d3d3;

  --musicHoverBG: #f2f3f5;

  --musicFontColor: #525252;

  /* 主题背景 */
  --themeBackground: orange;
  /* 主题悬停背景 */
  --gradualRed: linear-gradient(to right, #ff4b2b, #ff416c);

  /* 水波纹 */
  --rippleColor: rgba(0, 0, 0, 0.5);
  /* 导航栏字体 */
  --toolbarFont: #333333;
  /* 导航栏背景 */
  --toolbarBackground: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
  /* 主题颜色 */
  --themeColor: #41c8be;
  /* 灰色字体 */
  --greyFont: #797979;
  --maxGreyFont: #595A5A;
  /* footer背景 */
  --gradientBG: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* 白色遮罩 */
  --whiteMask: rgba(255, 255, 255, 0.3);
  /* max白色遮罩 */
  --maxWhiteMask: rgba(255, 255, 255, 0.5);
  --maxMaxWhiteMask: rgba(255, 255, 255, 0.7);
  /* mini白色遮罩 */
  --miniWhiteMask: rgba(255, 255, 255, 0.15);
  /* 透明 */
  --transparent: rgba(0, 0, 0, 0);
  /* mini黑色遮罩 */
  --miniMask: rgba(0, 0, 0, 0.15);
  /* 黑色遮罩 */
  --mask: rgba(0, 0, 0, 0.3);
  /* 半透明 */
  --translucent: rgba(0, 0, 0, 0.5);
  /* 深黑遮罩 */
  --maxMask: rgba(0, 0, 0, 0.7);


  /* el消息提示 */
  --successBG: #67c23a;
  --warningBG: #e6a23c;
  --errorBG: #f56c6c;
  --infoBG: #909399;

  --white: white;

  --red: red;
  --lightRed: #ff4b2b;
  --maxLightRed: #ff416c;
  --orangeRed: #EF794F;

  --azure: #ECF7FE;
  --blue: rgb(3, 169, 244);

  --lightGray: #DDDDDD;
  --maxLightGray: #EEEEEE;
  --maxMaxLightGray: rgba(242, 242, 242, 0.5);

  --lightGreen: #39c5bb;

  --green: #67C23A;
  --btnColor: #13c56b;
  --black: black;
  --lightYellow: #F4E1C0;

  --globalFont: zhuziAwa1n;

  /* 评论框的插图 */
  --commentURL: url('https://file.aleliauk.top/files/comment.jpg');
  /* 赞赏背景图 */
  --webInfoBg: url('https://file.aleliauk.top/files/Eliauk1167845091129681.png');
  /* 微信二维码 */
  --admireImage: url('https://file.aleliauk.top/files/Eliauk11678450838394146.jpg');
  /* 回到顶部 */
  --toTop: url('https://file.aleliauk.top/files/top.jpg');
  /* 波浪 */
  --bannerWave1: url('https://file.aleliauk.top/files/bannerwave1.png') repeat-x;
  --bannerWave2: url('https://file.aleliauk.top/files/bannerwave2.png') repeat-x;
  /* 后管登录页背景 */
  --verifyImage: url('https://file.aleliauk.top/files/admin-bg.jpg');
  /* 手机导航栏背景
  --toolbar: url('https://file.aleliauk.top/files/mobile-bg.jpg'); */
  /* 开往表白墙 */
  --love: url('https://file.aleliauk.top/files/love11673169045373679.jpeg');
}